<div class="box-header">
    <h3 class="box-title"><%=title%></h3>

    <div class="box-tools">
        <p class="pull-right">
            <button type="button" class="btn btn-info btn-new btn-sm act-add">Add</button>
        </p>
    </div>
</div>
<div class="box-body no-padding">




</div>