<div class="box">
    <div class="box-header">
        <h3 class="box-title"><%=title%></h3>
        <div class="box-tools">
        </div>
    </div>
    <div class="box-body no-padding">
    </div>
</div>