<label class="control-label" for="<%= name %>"><%= label %></label>
<select  id="<%= name %>" name="<%= name %>"  class="form-control">
    <option><%= placeholder %></option>
    <% _.each(dataList, function(val, key) { %>
    <option value="<%= key %>"><%= val %></option>
    <% }); %>
</select>