<div class="box-header">
    <h3 class="box-title"><%=title%></h3>
</div>
<div class="box-body">



</div><!-- /.box-body -->

<div class="box-footer">
    <button type="submit" class="btn btn-default act-cancel">Cancel</button>
    <button type="submit" class="btn btn-default act-reset">Reset</button>
    <button type="submit" class="btn btn-primary pull-right act-save">Save</button>
</div>