<ul class="pagination pull-right">
    <li class="first"><a href="#">First</a></li>
    <li class="prev"><a href="#">Previous</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="next"><a class="next" href="#">Next</a></li>
    <li class="last"><a href="#">Last</a></li>
</ul>