<div class="box-header">
    <h1 class="box-title"><%= title %></h1>
    <div class="box-tools">
        <p class="pull-right c-btn-head">
        </p>
    </div>
</div>
<div class="box-body">
    <div class="row-fluid">
        <div class="<%= classBody %> c-body">

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right c-btn-foot">

            </div>
        </div>
    </div>
</div>