<div class="form-group">
    <div class="input-group input-group-sm">
        <div class="input-group-btn btn-group-sm">
            <button type="button" class="btn btn-primary  btn-sm dropdown-toggle" data-toggle="dropdown"> <span class="label-serach"><%=APP.friendlyNames[APP.formSearch.default]%></span>   <span style="margin-left: 10px;" class="fa fa-caret-down"></span></button>
            <ul class="dropdown-menu">
                <% _.each(APP.formSearch.data, function(e) { %>
                    <li><a data-name="<%=e%>" href="#"><%=APP.friendlyNames[e]%></a></li>
                <% }); %>
            </ul>
        </div><!-- /btn-group -->

        <input type="text" name="input-search" class="form-control input-search">

        <div class="input-group-btn">
            <button type="button" class="btn btn-primary act-search  btn-sm"> Search </button>
        </div><!-- /btn-group -->

    </div>
</div>