<div class="box">
    <div class="box-header">
        <h3 class="box-title">Data Schedule</h3>

        <div class="box-tools">
            <p class="pull-right">
                <button type="button" class="btn btn-info btn-new btn-sm act-add">Add</button>
            </p>
        </div>
    </div>
    <div class="box-body no-padding">
        <form class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div class="box-header">
                <h3 class="box-title">Setting Schedule</h3>
            </div>
            <div class="box-body">


                <div class="form-group">
                    <label class="control-label" for="start_population">Start Population</label>
                    <input type="number" class="form-control" id="start_population" name="start_population" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="crosover">Crosover(%)</label>
                    <input type="number" class="form-control" id="crosover" name="crosover" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="mutasi">Mutasi(%)</label>
                    <input type="number" class="form-control" id="mutasi" name="mutasi" placeholder="">
                </div>
                <div class="form-group">
                    <label class="control-label" for="selection">Selection(%)</label>
                    <input type="number" class="form-control" id="selection" name="selection" placeholder="">
                </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-default act-cancel">Cancel</button>
                <button type="submit" class="btn btn-default act-reset">Reset</button>
                <button type="submit" class="btn btn-primary pull-right act-save">Save</button>
            </div>
        </form>


        <div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="th-sort" data-name="id" data-sort="asc"># <i class="fa fa-sort-asc"></i></th>
                    <th class="th-sort" data-name="name" data-sort="none">Name <i class="fa fa-sort"></i></th>
                    <th class="th-sort" data-name="description" data-sort="none">Description <i class="fa fa-sort"></i>
                    </th>
                    <th class="th-sort" data-name="total" data-sort="none">Total <i class="fa fa-sort"></i></th>
                    <th class="th-sort" data-name="sort" data-sort="none">Sort <i class="fa fa-sort"></i></th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>1</td>
                    <td>Mesin CNCB</td>
                    <td>Mesin CNC Besar</td>
                    <td>5</td>
                    <td>1</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Mesin CNCK</td>
                    <td>Mesin CNC Kecil</td>
                    <td>5</td>
                    <td>2</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Mesin BB</td>
                    <td>Mesin Bubut Besar</td>
                    <td>5</td>
                    <td>3</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Mesin BK</td>
                    <td>Mesin Bubut Kecil</td>
                    <td>10</td>
                    <td>4</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Mesin PP</td>
                    <td>Mesin Papras</td>
                    <td>5</td>
                    <td>5</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Mesin TR</td>
                    <td>Mesin Turret</td>
                    <td>0</td>
                    <td>6</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Mesin POT</td>
                    <td>Mesin Potong</td>
                    <td>5</td>
                    <td>7</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Mesin TK</td>
                    <td>Mesin Tekuk</td>
                    <td>5</td>
                    <td>8</td>
                    <td>
                        <button type="button" class="btn  btn-info btn-xs act-edit">Edit</button>
                        <button type="button" class="btn btn-danger btn-xs act-delete">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul class="pagination pull-right">
            <li class="first disabled"><a class="first disabled" href="#">First</a></li>
            <li class="prev disabled"><a href="#">Previous</a></li>
            <li class="active"><a href="#">1</a></li>
            <li class="next disabled"><a href="#">Next</a></li>
            <li class="last disabled"><a href="#">Last</a></li>
        </ul>
    </div>
</div>