@import '../../../../jakubsacha/adminlte/AdminLTE/css/bootstrap.min.css';
@import '../../../../jakubsacha/adminlte/AdminLTE/css/font-awesome.min.css';
@import '../../../../jakubsacha/adminlte/AdminLTE/css/ionicons.min.css';
@import '../../../../jakubsacha/adminlte/AdminLTE/css/morris/morris.css';
@import '../../../../jakubsacha/adminlte/AdminLTE/css/jvectormap/jquery-jvectormap-1.2.2.css';
@import '../../../../jakubsacha/adminlte/AdminLTE/css/fullcalendar/fullcalendar.css';
@import '../../../../jakubsacha/adminlte/AdminLTE/css/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css';
@import '../../../../jakubsacha/adminlte/AdminLTE/css/AdminLTE.css';
@import '../../../../jakubsacha/adminlte/css/AdminLTE.css';
@import 'lib/datepicker/datepicker3.css';
@import '../js/lib/daterangepicker/css/daterangepicker-bs3.css';
@import 'lib/chart/nv.d3.css';
@import '../js/lib/jquery-ui/jquery-ui-1.10.4.custom.css';
@import '../js/lib/elfinder/css/elfinder.full.css';
@import '../js/lib/codemirror/lib/codemirror.css';
@import '../js/lib/codemirror/addon/hint/show-hint.css';
@import '../js/lib/codemirror/theme/monokai.css';
@import 'checkbox.css';

.box-header .box-tools a {
    color: #444;
}
.modal {
    overflow-y: auto;
}
.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn {
    border-radius: 0px;
}

.table th.th-sort{
    cursor: pointer;
}
.table th.th-sort i.fa{
    float: right;
    margin-top: 4px;
    color: #c1c1c1;
}
.table th.th-sort i.fa.fa-sort{
    color: #f3f4f5;
}